@import './theme.css';
@import './reset.css';
@import './utilities.css';

html {
  font-size: 16px;
}

body {
  background-color: hsl(var(--clr-background));
  color: hsl(var(--clr-text));
  font-family: var(--ff-serif);
  font-weight: var(--fw-normal);
  font-size: var(--fs-body);
  font-style: normal;
  line-height: var(--lh-body);
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: var(--bg-mobile);

  @media (min-width: 768px) {
    background-image: var(--bg-tablet);
  }

  @media (min-width: 1152px) {
    background-size: cover;
    background-image: var(--bg-desktop);
  }
}

#app {
  flex-grow: 1;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: var(--app-gap);
  width: min(100%, calc(72rem + 2 * var(--app-gutters-inline)));
  padding: var(--app-gutters-block) var(--app-gutters-inline);
  margin-inline: auto;
}

main {
  display: grid;

  @media (min-width: 1152px) {
    grid-template-columns: minmax(0, 465px) 50%;
    justify-content: space-between;
    column-gap: 3rem;
  }
}

*:focus-visible {
  outline: var(--focus-outline);
}
